<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>TT Travels Trial Black.otf</string>
		<string>TT Travels Trial Bold.otf</string>
		<string>TT Travels Trial Medium.otf</string>
		<string>TT Travels Trial Regular.otf</string>
	</array>
</dict>
</plist>
